{% extends 'form_div_layout.html.twig' %}

{% block form_widget %}
{% spaceless %}

   {# <div {{ block('widget_container_attributes') }}> #}
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    {# </div> #}

{% endspaceless %}
{% endblock form_widget %}

{% block content %}
<form class="iform" action="{{ path('save_blog') }}" method="post" {{ form_enctype(form) }}>
	<ul>
	{{ form_widget(form) }}
	</ul>
	<input type="submit" />
</form>

<form>
          <div class="box">
            <h1>Contact Form :</h1>
            <label>
               <span>Full name</span>
               <input type="text" class="input_text" name="name" id="name"/>
            </label>
             <label>
               <span>Email</span>
               <input type="text" class="input_text" name="email" id="email"/>
            </label>
             <label>
                <span>Subject</span>
                <input type="text" class="input_text" name="subject" id="subject"/>
            </label>
            <label>
                <span>Message</span>
                <textarea class="message" name="feedback" id="feedback"></textarea>
                <input type="button" class="button" value="Submit Form" />
            </label>
            
            
         </div>
    </form	
{% endblock content %}



