{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block title  blog.blogName  %}

{% block content_header '' %}

{% block menu %}

<div>
	
	{% set ruta=path('edit_blog',{ 'blog': blog.getBlogId() }) 
	
	%}
	<a href="{{ ruta }}">
		  Editar Blog
	</a>
	<a href="{{ path('delete_blog',{ 'blog': blog.getBlogId()} ) }}">
		  Borrar Blog
	</a>
	<a href="{{ path('new_post',{ 'blog': blog.getBlogId()} ) }}">
		  Nuevo Post
	</a>
	
	
</div>

{% endblock %}

{% block blog_name %}
	{%	set rutaBlog = path('index_blog',{ 'blog':blog.blogName }) %}
	<div><a href="{{ rutaBlog }}">{{ blog.blogName }} </a>  </div> 
{% endblock %}


{% block content %}
    <h3 style="border-color: PapayaWhip;border-style: solid;border-width: 0 0 1px;">Posts:</h3>
	
	{% for post in posts %}    
		{% 
			set ruta = path('view_post',{
				'blog': blog.blogName, 
				'post': post.title
			}) 
		%}
		<div>
			<a href="{{ ruta }}">{{ post.title }} </a>  
		</div>  
		  
		
    {% endfor %}
{% endblock %}
