<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<!--<img src="{{ asset('images/logo.png') }}" alt="Symfony!" />-->
	<link href="{{ asset('/bussiness/css/reset.css') }}" type="text/css" rel="stylesheet" media="all"/>
	<link rel="stylesheet" href="{{ asset('/bussiness/css/layout.css') }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ asset('/bussiness/css/style.css') }}"  type="text/css" media="all">
	<script type="text/javascript" src="{{ asset('/bussiness/js/jquery-1.4.2.js') }} " ></script>
	<script type="text/javascript" src="{{ asset('/bussiness/js/cufon-yui.js') }} "></script>
	<script type="text/javascript" src="{{ asset('/bussiness/js/cufon-replace.js') }} "></script>	
	<script type="text/javascript" src="{{ asset('/bussiness/js/Myriad_Pro_300.font.js') }}"></script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
		<script type="text/javascript" src="js/html5.js"></script>
	<![endif]-->
</head>
<body id="page1">
<div class="body3" style="background: none;"><div class="body3_img"></div></div>
<div class="body1">
	<div class="main">
<!-- header -->
		<header>
			<div id="logo_box">
				<h1><a href="index.html" id="logo">Expresso software <span> on the shoulder of gigants!</span></a></h1>
			</div>
			<nav>
				<ul id="menu">
					<li 				><a href="{{ path('_welcome')}}">Inicio</a></li>										
					<li 				><a href=#">...					 </a></li>					
					<li					><a href=#">Soporte							 </a></li>					
					<li					><a href=#">Documentaci&oacute;n			 </a></li>
					<li					><a href=#">Noticias						 </a></li>				
					<li style="background:none;"><a href=#">...   		 </a></li>
				</ul>
			</nav>			
			<div style="clear: both;  color: '#6F6F6F'; font-family: courier; font-size: 18px; font-weight: normal; margin-top: 178px; position: absolute; z-index: 1000;">facturacion/comprobaci&oacute;n</div>
			<div class="wrapper">
					
				{% block header %}
				<div class="text1">Servicios de facturaci&oacute;n</div>				
				<div class="text2">En la nube, instalable, ensamblable!</div>
					{% if app.session.hasFlash('notice') %}
						<div class="flash-notice">
							{{ app.session.flash('notice') }}
						</div>
					{% endif %}
					
				<ul id="icons">
					<li><span>Siguenos!</span></li>
					<li><a href="#"><img src="{{ asset('/bussiness/images/icon1.jpg') }}" alt=""></a></li>
					<li><a href="#"><img src="{{ asset('/bussiness/images/icon2.jpg') }}" alt=""></a></li>
					<li><a href="#"><img src="{{ asset('/bussiness/images/icon3.jpg') }}" alt=""></a></li>
				</ul>			
				{% endblock %}
		</header>
<!-- / header -->
	</div>
</div>
<div class="body2">
	<div class="main">
<!-- content -->
		
		
		<section id="content">
			<div class="marg_top wrapper">
			<br>			
			<br>
				{% block modulos %}
				<article class="col1">
					<div class="box1_out">
						<div class="box1">
							<h2>Validaciones</h2>
							<p class="pad_bot1">
								Validaci&oacute;n de facturas digitales.<br/><br/>
								
								<br/>								
							</p>
							<a href="{{ path('AcmeFacturacionBundle_validar')}}" class="button"><span><span>Validar</span></span></a>
							<img src="{{ asset('/bussiness/images/img1.png') }}" class="img" alt="">
						</div>
					</div>
					<div class="box1_bot"><div class="box1_bot_left"><div class="box1_bot_right"></div></div></div>
				</article>
				<article class="col1 pad_left1">
					<div class="box1_out">
						<div class="box1">
							<h2>Administracion</h2>
							<p class="pad_bot1">
								Administre facturas <br>importando o generando <br>en Expresso!.<br>
							</p>
							<a href="#" class="button"><span><span>Ingresar</span></span></a>
							<img src="{{ asset('/bussiness/images/img2.png') }}" class="img" alt="">
						</div>
					</div>
					<div class="box1_bot"><div class="box1_bot_left"><div class="box1_bot_right"></div></div></div>
				</article>
				<article class="col1 pad_left1">
					<div class="box1_out">
						<div class="box1">
							<h2>Emision</h2>
							<p class="pad_bot1">
								Emita sus facturas digitales e impresas desde Expresso!<br/>
								<br/>
								<br/>
								
							</p>
							<a href="#" class="button"><span><span>Ingresar</span></span></a>
							<img src="{{ asset('/bussiness/images/img3.png') }}" class="img" alt="">
						</div>
					</div>
					<div class="box1_bot"><div class="box1_bot_left"><div class="box1_bot_right"></div></div></div>
				</article>
			</div>
			{% endblock %}
			<div class="wrapper marg_top2">
				<article class="col1">
					<div class="box2">
						<div class="pad">
							<h2>Comentarios</h2>
							<div class="wrapper pad_bot1">
								<figure><img src="{{ asset('/bussiness/images/page1_img1.jpg') }}" alt="" class="left marg_right1"></figure>
								<span class="color1">Michael Donovan</span><br>
								Pues gracias por el apoyo a mi ...<a href="#">Twitter</a>
							</div>
							<div class="wrapper pad_bot1">
								<figure><img src="{{ asset('/bussiness/images/page1_img2.jpg') }}" alt="" class="left marg_right1"></figure>
								<span class="color1">Jane White</span><br>
								Me gusta usar estas aplicaciones. <a href="#">Facebook</a>
							</div>
							<div class="wrapper pad_bot1">
								<figure><img src="{{ asset('/bussiness/images/page1_img3.jpg') }}" alt="" class="left marg_right1"></figure>
								<span class="color1">James Doe</span><br>
								Aqu&iacute; consigo proyectos. <a href="#">G+</a>
							</div>
						</div>
					</div>
				</article>
				<article class="col2 pad_left1">
					<div class="pad" STYLE="padding:0;">
						{% block noticia %}
						<h2>¿Que es expresso software?</h2>
						
						Expresso software es un grupo de servicios y paquetes para empresas.<br> 
						El proyecto Expresso tiene m&oacute;dulos liberados y en desarrollo, <br><br>Mirar Avances:
						<br>
						<br>
						<ul>
							<li>Servicios de Facturaci&oacute;n</li>
							<li>Punto de venta</li>
							<li>Comercio electr&oacute;nico</li>
							<li>Motor contable</li>
							<li></li>
						</ul>
						<br>
							<a href="#">Ver &uacute;ltima noticia</a>
						{% endblock %}
						<!--
						<p><strong>The Art of Business</strong> is a free web template created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution. </p>
						<p class="under">This website template can be delivered in two packages - with PSD source files included and without them. This website template has several pages: <a href="Home.html">Home</a>, <a href="About.html">About</a>, <a href="Projects.html">Projects</a> (with <a href="Project.html">Project Page</a>), <a href="Contacts.html">Contacts</a> (note that contact us form – doesn’t work), <a href="SiteMap.html">Site Map</a>.</p>
						<div class="wrapper">
							<ul class="list1 cols">
								<li><a href="#">At vero eos etaccusamus iusto</a></li>
								<li><a href="#">Odio dignissmos ducimus blanditiis</a></li>
								<li><a href="#">Praesentum voluptum deleniti</a></li>
							</ul>
							<ul class="list1 cols pad_left1">
								<li><a href="#">Molestias exceutpturi sint occaecati</a></li>
								<li><a href="#">Cupiditate nogn proghvident, similique</a></li>
								<li><a href="#">Sunt in culpa qui offiutrucia deserunt</a></li>
							</ul>-->
						</div>
					</div>
				</article>
			</div>
		</section>
<!-- / content -->
	</div>
</div>
<div class="main">
<!-- footer -->
	<footer>
		<div class="wrapper">
			<article class="col1">
				<div class="pad">
					<h2>Nosotros</h2>
					<!--<p>The latest on keeping your personal info safe and secure.</p>
					<ul class="list1">
						<li><a href="#">Security Alerts</a></li>
						<li><a href="#">Avoiding Scams</a></li>
					</ul>-->
				</div>
			</article>
			<article class="col2 pad_left1">
				<div class="pad">
					<div class="wrapper">
						<article class="cols">
							<h2>Codigo fuente</h2>
							<!--<form id="form_1" action="" method="post">
								<div>
									<div class="bg"><input class="input" type="text" value="Enter email here" onblur="if(this.value=='') this.value='Enter email here'" onFocus="if(this.value =='Enter email here' ) this.value=''" /></div>
									<a href="#" class="submit" onClick="document.getElementById('form_1').submit()"><span><span>Submit</span></span></a>
									<a href="#">Unsucscribe</a>
								</div>
							</form>-->
						</article>
						<article class="cols pad_left1">
							<h2>Mapa del sitio</h2>
							<!--<form id="form_2" action="" method="post">
								<div>
									<div class="bg left"><input class="input input1" type="text" value="Enter user ID here"	onblur="if(this.value=='') this.value='Enter user ID here'" onFocus="if(this.value =='Enter user ID here' ) this.value=''" /></div>
									<div class="bg right"><input class="input input2" type="password" value="••••••••••" onblur="if(this.value=='') this.value='••••••••••'" onFocus="if(this.value =='••••••••••' ) this.value=''"	 /></div>
									<a href="#" class="submit" onClick="document.getElementById('form_2').submit()"><span><span>login</span></span></a>
									<a href="#">Forgot password?</a> &nbsp;	<a href="#">Sign up</a>
								</div>
							</form>-->
						</article>
					</div>
				</div>	
			</article>
		</div>
		<div class="under2"></div>
		<div class="wrapper font_size">
			<div class="pad">
				<!--<a href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com<br>
				<a href="http://www.templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com-->
			</div>
		</div>
	</footer>
<!-- / footer -->
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>