{% extends 'AcmeFacturacionBundle:bussiness_template:_layout.html.twig' %}
{% block header %}
	<style type="text/css">
		.valid{
			color:green;
		}
		.invalid{
			
			color:red;
		}
		
		/*   */
		.customfile {
			float:left;
			margin:2px;
		}
		
		#page1 .text1{
			padding: 224px 0 0 47px;
		}
		
		.validaciones .text2{
			padding: 0 0 0 0px
		}
		
	</style>
	<!--=========	MENSAJES DE SESSION	============	-->
	
	
		<script type="text/javascript" src="/bussiness/fileInput/js/enhance.js"></script>		
		<script type="text/javascript">
			// Run capabilities test
			enhance({
				loadScripts: [
					'/bussiness/fileInput/js/jquery/jquery.min.js',
					'/bussiness/fileInput/js/jQuery.fileinput.js',
					'/bussiness/fileInput/js/example.js'
				] ,loadStyles: ['/bussiness/fileInput/css/enhanced.css']	
			});   
		</script>
	
	<!--========= FIN DE MENSAJES DE SESSION ==========	-->
	<div>
		
					
		<div class="text1">Comprobaci&oacute;n de Facturas digitales</div>					
		<br>
		
		<form name="myform" action="{{ path('AcmeFacturacionBundle_validar')}}" method="POST" enctype="multipart/form-data" style="float:left;margin-left:45px;width:870px;">
			<fieldset class="custom_file_input">
				<legend>Seleccione la factura a validar</legend>				
				<input type="file" name="comprobante" id="file" />
				<div style="width:100px;float:left; margin-left:10px;">
					<a href="javascript: submitform()" class="button" style="height:65px;z-index:1000;" ><span><span>Validar</span></span></a>	
				</div>								
			</fieldset>					
		</form>
	</div>
	
	<script type="text/javascript">
		function submitform(){
		  document.myform.submit();
		}
	</script>
	
	{% if errores is defined %}
		<div style="clear:both;margin-top:-10px;margin-left:105px;">
			<h1 style="margin-left:-142px;">Lista de errores</h1><br>
		{% for error in errores %}			 			 
			 {{ error.message	 }}<br>
			 <br>
		{% endfor %}
		</div>
	{% endif %}
	
	{% if respuesta is defined %}		
		{% if respuesta['validaciones']['xml']['success'] %}
			
			{% set valXml="OK" %}
			{% set cssXML="valid" %}
		{% else %}
			
			{% set valXml="INVALID" %}
			{% set cssXML="invalid" %}
		{% endif %}
		
		{% if respuesta['validaciones']['certificado_validez'] %}
			{% set valSello="VALIDO" %}
			{% set cssSello="valid" %}
		{% else %}
			
			{% set valSello="INVALIDO" %}
			{% set cssSello="invalid" %}
		
		{% endif %}
		
		<div style="clear:both;margin-top:-10px;margin-left:45px;" class="validaciones">
			
			<div class="text2">Resultado de las validaciones</div>		
			{% if respuesta['success'] %}
				{% set mensaje = "El comprobante es valido" %}
				{% set estilo = "float:left;" %}
			{%  endif %}
			
			{% if respuesta['success']==false %}
				{% set mensaje = "El comprobante contiene errores" %}
				{% set estilo = "float:left;color:red;" %}
			{%  endif %}
		
		
			<div class="flash-notice" style="{{ estilo }}">
				{{ mensaje }}
			</div>
			<br>
			<br>
			<label>Estructura del XML versi&oacute;n {{ respuesta['validaciones']['xml']['version'] }}</label><label style="margin-left:10px;" class="{{ cssXML }}">{{ valXml }}</label>

			{% if respuesta['validaciones']['xml']['success']==false %}
				<div>Detalle de los errores:</div>
				{% for error in respuesta['validaciones']['xml']['errores'] %}
					<br/>
					<label>Linea:</label> <div style="display:inline;">{{ error.line }},</div><label style='margin-left:10px;'>Columna:</label> <div style="display:inline;">{{ error.column }}.</div><br/>
					{{ error.message }}							
				{% endfor %}
			{% endif  %}
			<br><br>
			<label>Sello digital:</label><label style="margin-left:10px;" class="{{ cssSello }}">{{ valSello }}</label>
			<br/>
			<label>Cadena original generada:</label><br/>
			<label style="" >{{ respuesta['validaciones']['cadena_original'] }}</label>
			<br/><br/>
			<label>Validez del certificado (existencia en el sat):</label><label style="margin-left:10px;" class="sin_validar">Sin Validar</label><br/>
			<br/>
			<label>Vigencia del certificado:</label><label style="margin-left:10px;" class="sin_validar">#</label><br/>
			<br/>
			<label>Validez del folio:</label><label style="margin-left:10px;" class="sin_validar">#</label><br/>
			<br/><br/>
			<label>C&aacute;lculo de Impuestos:</label><label style="margin-left:10px;" class="sin_validar">Sin Validar</label><br/>
			<label style="" >Operacion realizada</label><label style="margin-left:10px;" >&iquest&iquest??</label>
			
			<br/>
			<label>C&aacute;lculo del total:</label><label style="margin-left:10px;" class="sin_validar">Sin Validar</label><br/>
			<label style="" >Operacion realizada (ejem):</label><label style="margin-left:10px;" >Total = Subtotal - descuento + impuestos</label>
			<br>
			<label style="" >Operacion realizada (ejem):</label><label style="margin-left:10px;" >500.00 = 500.00 - 100.00 + 120.00</label>
			<br/>
			<br/>
			<label>C&aacute;lculo de Impuestos:</label><label style="margin-left:10px;" class="sin_validar">Sin Validar</label><br/>
			<label style="" >Operacion realizada</label><label style="margin-left:10px;" >&iquest&iquest??</label>
			<br/>
			<br/>
			<label>C&aacute;lculo del subtotal:</label><label style="margin-left:10px;" class="sin_validar">Sin Validar</label><br/>
			<label style="" >Operacion realizada:</label><label style="margin-left:10px;" >&iquest;&iquest??</label>
			
			
		</div>
		<div style="clear:both;"></div>
		<object type="application/pdf"  width="100%" style="margin-top:20px;" height="1100px;" data="/tmp/AAA010101AAA_A_362_120217.pdf">
				 alt : <a href="goodies/pdfs/indice_contenido.pdf"></a> 			
		</object> 		
	{% endif %}
	
	
{% endblock %}

{% block modulos %}
{% endblock %}

{% block noticia %}
	{% autoescape true %}
	<h2>Expresso Facturaci&oacute;n</h2>
	
	Expresso es una linea de productos de software que en su mayor parte son gratuitos y colaborativos, donde se da gran importancia a la privacidad, seguridad y desempe&ntilde;o.	
	<br><br>
	Descarge, colabore, o solo &uacute;se!
	
	</div>
	{% endautoescape %}
{% endblock %}