{% extends 'AcmeFacturacionBundle:bussiness_template:_layout.html.twig' %}
{% block header %}
	<style type="text/css">
		.valid{
			color:green;
		}
		.invalid{
			
			color:red;
		}
	</style>
	<!--=========	MENSAJES DE SESSION	============	-->
	
	<!--========= FIN DE MENSAJES DE SESSION ==========	-->
	<div>
		<div class="text1"></div>				
		<div class="text2">Validar comprobante digital</div>					
		<br>
		<form name="myform" action="{{ path('AcmeFacturacionBundle_validar')}}" method="POST" enctype="multipart/form-data" style="width:200px;float:left;margin-left:245px;">
			<div class="fileinputs">
				<input name="comprobante" type="file" class="file" />
				<div class="fakefile">
					<input />			
					<img src="{{ asset('/bussiness/images/file-explorer.png') }}" style="margin-top:-4px;" />
				</div>
			</div>	
			<br>
			<br>
			<a href="javascript: submitform()" class="button" style="height:65px;margin-left:107px;" ><span><span>Validar</span></span></a>
			<br>				
		</form>
		
		{% if respuesta is defined %}
			{% if respuesta['success'] %}
				{% set mensaje = "El comprobante es valido" %}
				{% set estilo = "float:left;" %}
			{%  endif %}
			
			{% if respuesta['success']==false %}
				{% set mensaje = "El comprobante es invalido" %}
				{% set estilo = "float:left;color:red;" %}
			{%  endif %}
		
		
			<div class="flash-notice" style="{{ estilo }}">
				{{ mensaje }}
			</div>
		{%  endif %}
		
		
		
	</div>
	<script type="text/javascript">
		function submitform(){
		  document.myform.submit();
		}
	</script>
	
	{% if errores is defined %}
		<div style="clear:both;margin-top:-10px;margin-left:105px;">
			<h1 style="margin-left:-142px;">Lista de errores</h1><br>
		{% for error in errores %}			 			 
			 {{ error.message	 }}<br>
			 <br>
		{% endfor %}
		</div>
	{% endif %}
	
	{% if respuesta is defined %}
		{% if respuesta['validaciones']['xml']['success'] %}
			{%	set xmlMsg="Estructura del xml"	%}
			{% set valXml="OK" %}
			{% set cssXML="valid" %}
		{% else %}
			{%	set xmlMsg="Estructura del xml"	%}
			{% set valXml="INVALID" %}
			{% set cssXML="invalid" %}
		{% endif %}

		<div style="clear:both;margin-top:-10px;margin-left:105px;">
			<h1 style="margin-left:-142px;">Verificaciones:</h1><br/>
			<label>{{ xmlMsg }}</label><label style="margin-left:10px;" class="{{ cssXML }}">{{ valXml }}</label>
			<br/>
			<br/>
			{% if respuesta['validaciones']['xml']['success']==false %}
				<div>Detalle de los errores:</div>
				{% for error in respuesta['validaciones']['xml']['errores'] %}
					<br/>
					<label>Linea:</label> <div style="display:inline;">{{ error.line }},</div><label style='margin-left:10px;'>Columna:</label> <div style="display:inline;">{{ error.column }}.</div><br/>
					{{ error.message }}		
					
				{% endfor %}
			{% endif  %}
		</div>
		
		
		{% if cadena is defined %}
			<div style="clear:both;margin-top:-10px;margin-left:105px;">
				<h1 style="margin-left:-142px;">Cadena Original:</h1><br>		
				 {{ cadena	 }}<br>
				 <br>		
			</div>
		{% endif %}
	{% endif %}
{% endblock %}

{% block modulos %}
{% endblock %}

{% block noticia %}
	{% autoescape true %}
	<h2>Facturacion Expresso</h2>
	<a href="#">Contribuir</a><br/>
	<div>
		Y que pas&oacute; con los acentos.
	</div>
	{% endautoescape %}
{% endblock %}